.App {
  font-family: sans-serif;
  text-align: center;
}
.name-tag {
  background-color: red;
  padding: 10px 0 20px;
  border-radius: 20px;
  width: 350px;
  margin: 20px 10px;
  display: inline-block;
}
.title {
  color: white;
  margin: 0;
  font-size: 40px;
}
.subtitle {
  color: white;
  margin: 0;
}
.name {
  background-color: white;
  margin: 20px 0;
  font-size: 45px;
  height: 125px;
  font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
}
